body {
    font-family: 'Merriweather', serif; /* Fuente Merriweather */
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #8a2be2, #e6e6fa); /* Degradado de lila */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #fff; /* Color de texto blanco */
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-family: 'Merriweather', serif; /* Aplicando la fuente Merriweather a los botones */
}

button:hover {
    background-color: #0056b3;
}